:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --button-hover-color: #6C8CFF;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #F5F5F5;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

input{
  box-sizing: border-box;
}

textarea {
  box-sizing: border-box;
}

.navigation-link{
  display: block;
  font-size: 16px;
  margin-bottom: 12px;
}

.navigation-link:hover, .navigation-link:focus{
  color:#6C8CFF;
  transition: color 0.25s;


}

.main-page .container .navigation-link:hover::after,
.main-page .container .navigation-link:focus::after{
  content: " →";
}

.main-page .container{
  display: flex;
  flex-direction: column;
  align-items: center;
}


button {
  box-sizing: border-box;
  background-color: var(--button-color);
  border: none;
  height: 40px;
  width: 95px;
  font-size: 16px;
  font-weight: 500;

  padding: 8px 16px;
  border-radius: 8px;
  color: #fff;
  letter-spacing: 0.04rem;

}

button:hover,
button:focus {
  border: none;
  background-color: var(--button-hover-color);
  transition: background-color 0.25s;
}

button:disabled {
  background-color: var(--button-disabled);
}
